{% extends "nacholibreAdminBundle::layout.html.twig" %}

{% import 'nacholibreHitsLoggerBundle:Default:macros.html.twig' as macros %}

{% block pageHeaderTitle 'IP Stats: ' ~ ip  %}

{% block stylesheets %}
{{ parent() }}
{% include 'nacholibreHitsLoggerBundle:Default:styles.html.twig' %}
{% endblock %}

{% block content %}
{{ parent() }}

{{ macros.renderIPHitsTable(ipData) }}
<hr>
<h2>Last clicks recorded</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>URL</th>
            <th>Referal</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
    {% for clickData in hitsLogger.getIPLastClicks(ip) %}
	<tr>
        <td>{{ clickData.url }}</td>
        <td>{{ clickData.referal }}</td>
        <td>{{ clickData.time | date('Y-m-d H:i:s') }}</td>
	</tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
