{% macro renderIPHitsTable(visitsData) %}
    {% set dateFormat = 'Y-m-d H:i:s' %}
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th width=130>IP</th>
                <th width=70>Hits</th>
                <th width=150>First hit</th>
                <th width=150>Last hit</th>
                <th>User Agent</th>
                <th width=200>Referal</th>

                <th width=130></th>
            </tr>
        </thead>
        <tbody>
    {% set prefix = random(1000) %}
    {% for ip, data in visitsData %}
        <tr>
            <td>
                <a href="http://whois.domaintools.com/{{ ip }}" target="dt" target='_blank'>{{ ip }}</a>&nbsp;
            </td>
            <td align="right">
                {{ data.count | number_format }}
            </td>
            <td>
                {{ data.first | date(dateFormat) }}
            </td>
            <td>
                {{ data.last | date(dateFormat) }}
            </td>
            <td style='font-size:12px;'>
                {{ data.ua }}
            </td>
            <td style='font-size:12px;'>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#referal_{{ loop.index }}_{{ prefix }}" aria-expanded="false" aria-controls="referal_{{ loop.index }}_{{ prefix }}">
                    Show
                </button>
                <div class="collapse" id="referal_{{ loop.index }}_{{ prefix }}">
                    {{ data.referal }}
                </div>
            </td>

            <td>
                <a href="{{ path('nacholibre.hits_logger.ip.show', {ip: ip}) }}" class='btn btn-primary'>Details</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro renderLastUserHitsTable(latestUserHits) %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User ID</th>
            <th>IP</th>
            <th>Referer</th>
            <th>User Agent</th>
            <th>Url</th>
            <th>Made</th>
        </tr>
    </thead>
    <tbody>
        {% for hit in latestUserHits %}
        <tr>
            <td>{{ hit.user_id }}</td>
            <td>{{ hit.client_ip }}</td>
            <td>{{ hit.referer }}</td>
            <td>{{ hit.user_agent }}</td>
            <td>{{ hit.fullURI }}</td>
            <td>{{ hit.date_made | date('Y-m-d H:i:s') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}
